.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}

/* SOLUZIONE ES.1 */

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* SOLUZIONE ES.2 */

.ex-2-square:active{
    width: 400px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* SOLUZIONE ES.3 */

.ex-3-square:hover{
    border-radius: 50%;
    transition-duration: 1s;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* SOLUZIONE ES.4 */

.ex-4-square:hover{
    opacity: 0;
    transition-duration: 1s;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s;
}

/* SOLUZIONE ES.5 */

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: all 1s;
}

/* SOLUZIONE ES.6-7-8 */

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: grayscale(1);
    filter: sepia(1);
}

.ex-8-img:hover{
    filter: grayscale(1);
    filter: sepia(1);
    border-radius: 20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

/* SOLUZIONE ES.9 */

.ex-9-img:hover{
    filter: grayscale(1);
    filter: sepia(1);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: spin 1s infinite;
}

/* SOLUZIONE ES.10 */

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
    transition: all 0.5s;
}

/* SOLUZIONE ES.11 */

.ex-11-icon:hover{
    transform: rotate(270deg);
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* SOLUZIONE ES. 12 */

.ex-12-top-white{
    animation: top-move 2s infinite;
    animation-direction: alternate;
}

.ex-12-bottom-white{
    animation: bottom-move 2s infinite;
    animation-direction: alternate;
}

@keyframes top-move{
    0%{
        left: 10%;
    }
    100%{
        left: 60%;
    }

}

@keyframes bottom-move{
    0%{
        right: 10%;
    }
    100%{
        right: 60%;
    }
}

/* SOLUZIONE ES. 13 */

.ex-13-top-white{
    animation: top-rotation 5s infinite;
}

.ex-13-bottom-white{
    animation: bottom-rotation 5s infinite;
}

@keyframes top-rotation{
    0%{
        left: -30px;
    }
    25%{
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        top: calc(100% - 10px);
        left: calc(100% - 30px);
    }
    75%{
        top: calc(100% - 10px);
        left: -30px;
    }
    100%{
        top: -10px;
        left: -30px;
    }
}

@keyframes bottom-rotation{
    0%{
        right: -30px;
    }
    25%{
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);
    }
    75%{
        bottom: calc(100% - 10px);
        right: -30px;
    }
    100%{
        bottom: -10px;
        right: -30px;
    }
}